/* 
.owl-theme .owl-nav.disabled + .owl-dots {
    
  display: none;
  
}
 
 
 
 .owl-carousel .owl-nav.disabled{
display: inline !important;
padding: 3px;
    
  }
 
.owl-carousel .owl-nav button.owl-next{
  position: absolute;
  top: 180px;
  left: 1320px !important;
  border: 2px solid rgb(7, 7, 7);
  justify-content: space-between;
  width: 30px;
  height: 45px;
}

.owl-carousel .owl-nav button.owl-prev{
  position: absolute;
  top: 180px;
  left:-20px;
  margin: 3px;
  border: 2px solid rgb(7, 7, 7);
  justify-content: space-between;
  width: 30px;
  height: 45px;
}
/* .owl-prev:disabled{
  display: block !important;
} */

/* @media screen and (min-width: 375px) and (max-width: 576px) {

  .owl-carousel .owl-nav button.owl-prev{
    top: 180px;
    left:-38px;
    width: 20px;
    height: 25px;
  }
  .owl-carousel .owl-nav button.owl-next{
    
    top: 180px;
    right: 40px !important;
    width: 20px;
    height: 25px;
  }
}


@media screen and (max-width: 768px) {
  body {

  .owl-carousel .owl-nav button.owl-prev{
    top: 180px;
    left: -36px;
    width: 20px;
    height: 25px;
  }
  .owl-carousel .owl-nav button.owl-next{
    
    top: 180px;
    left: 1200px;
    width: 20px;
    height: 25px;
  }
}
} */ */

.owl-nav.disabled{
  display: block !important;
  font-size: 35px;
}

.owl-carosuel{
  position: relative;
  
}
.owl-prev{
  position: absolute;
  left: -8%;
  top: 35%;
  border: 2px solid rgb(175, 174, 174) !important;
  width: 55px; 
}
.owl-next{
  position: absolute;
  right: -8%;
  top: 35%;
  border: 2px solid rgb(175, 174, 174) !important ;
  width: 55px;
}

@media screen and (max-width:767px) {
  .owl-prev{
    position: absolute;
    left: -18%;
    top: 33%;
    width: 30px; 
  }
  .owl-next{
    position: absolute;
    right: -18%;
    top: 33%;
    width: 30px;
  }
}
@media screen and (min-width:540px) and (max-width:1024px) {
  .owl-prev{
    position: absolute;
    left: -10%;
    top: 33%;
    width: 30px; 
  }
  .owl-next{
    position: absolute;
    right: -10%;
    top: 33%;
    width: 30px;
  }
}
@media screen and (max-width:290px) {
  .owl-prev{
    position: absolute;
    left: -30%;
    top: 23%;
    width: 30px; 
  }
  .owl-next{
    position: absolute;
    right: -30%;
    top: 23%;
    width: 30px;
  }
}